<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}

  <body>
    <div class="container">
      <header id="main-header">
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-5">
            <img src="{{ "/assets/img/tania.jpg" | relative_url }}" alt=""/>
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="d-flex flex-column">
              <div class="p-5 bg-dark1">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h1 class="display-4">Tania Habrusieva</h1>
                  <div class="d-none d-md-block">
                    <a class="text-dark" href="https://www.linkedin.com/in/tania-habrusieva-1910aa18b/">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </div>
                  <div class="d-none d-md-block">
                    <a class="text-dark" href="https://github.com/">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="p-4 bg-black lead">Front-end Web Developer</div>

              <div>
                <div class="d-flex flex-row text-white align-items-stretch text-center">
                  <div class="port-item p-4 bg-primary1" data-target="#home" data-toggle="collapse">
                    <i class="fas fa-home fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Home</span>
                  </div>
                  <div class="port-item p-4 bg-success1" data-target="#resume" data-toggle="collapse">
                    <i class="fas fa-graduation-cap fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Resume</span>
                  </div>
                  <div class="port-item p-4 bg-danger1" data-target="#contact" data-toggle="collapse">
                    <i class="fas fa-envelope fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Contact</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- home -->
      <div class="collapse show" id="home">
        <div class="card card-body bg-primary1 text-white py-5">
          <h2>Welcome to my page</h2>
        </div>

        <div class="card card-body py-5">
          <h3>Summary</h3>
          <p>
            I, Tania, am 28 years old. I'm looking for a Front-end developer
                        job. I gained my knowledge while taking courses on Udemy. I have
                        experience with HTML and CSS. I'm currently studying React and
                        JavaScript and am working on creating a site for Habrusiev
                        Consulting.
          </p>
          <p>
            I am a very responsible worker and enthusiastic about working,
                        learning and getting new work experience.
          </p>
        </div>
        <div class="d-flex flex-row">
          <div class="card card-body py-5 col-md-4">
            <h3>Skills</h3>
            <ul>
              <li>HTML 5</li>
              <li>CSS 3</li>
              <li>Bootstrap</li>
              <li>JavaScript</li>
              <li>React</li>
            </ul>
          </div>

          <div class="card card-body py-5 col-md-4">
            <h3>Languages</h3>
            <ul>
              <li>English</li>
              <li>Germany</li>
            </ul>
          </div>

          <div class="card card-body py-5 col-md-4">
            <h3>Interests</h3>
            <ul>
              <li>Lettering</li>
              <li>Simple drawing</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Resume -->
      <div class="collapse" id="resume">
        <div class="card card-body bg-success1 text-white py-5">
          <h2>My resume</h2>
        </div>

        <div class="card card-body py-5">
          <h3>Work Experience</h3>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Front-End Developer</h4>
                <p class="card-text">Habrusiev Consulting</p>
                <ul>
                  <li>Designing and developing personal web site</li>
                  <li>
                    Designing and developing web site and branding for
                    <em>“Habrusiev Consulting”</em>
                  </li>
                  <li>Assisting with client projects</li>
                </ul>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2019</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-body py-5">
          <h3>Education</h3>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Student</h4>
                <p class="card-text">Terebovlya Gymnasium</p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2006 - 2008</h6>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Student</h4>
                <p class="card-text">
                  Ternopil Volodymyr Hnatyuk National Pedagogical University
                </p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2008 - 2013</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-body py-5">
          <h3>Certification</h3>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Student</h4>
                <p class="card-text">Courses on Udemy</p>
                <ul>
                  <li>
                    Bootstrap 4 From Scratch With 5 Projects from
                    <em>Brad Traversy</em>
                  </li>
                  <li>
                    The Complete JavaScript Course 2019: Build Real Projects!
                                        from
                    <em>Jonas Schmedtmann</em>
                  </li>
                  <li>
                    React Front To Back from
                    <em>Brad Traversy</em>
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2018 - 2019</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- contact -->
      <div class="collapse" id="contact">
        <div class="card card-body bg-danger1 text-white py-5">
          <h2>Contact</h2>
        </div>

        <div class="card card-body py-5">
          <h3>Contact Details</h3>

          <div>
            <p>
              <i class="fas fa-user"></i>
              Tania Habrusieva
            </p>
          </div>
          <div>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              Lviv, Ukraine
            </p>
          </div>
          <div>
            <p>
              <i class="fas fa-envelope"></i>
              tetianahabrusieva@gmail.com
            </p>
          </div>
          <div>
            <p>
              <i class="fab fa-skype"></i>
              live:taniahabrusieva
            </p>
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer class="p-5 bg-dark1" id="main-footer">
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-outline-dark" href="https://paper.dropbox.com/doc/Tetiana-Habrusieva--AiEofFVeaQJ7jZcdBBsmKFZSAQ-gvMHijCqd7KefQTZScP1C">
              <i class="fas fa-cloud"></i>
              Download Resume
            </a>
          </div>
        </div>
      </footer>
    </div>

    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    <script>
      $(".port-item").click(function () {
        $(".collapse").collapse("hide");
      });
    </script>
  </body>
</html>
